<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">Locations</h1>

    <% if @locations.any? %>
      <%= link_to t("shared.scaffold.new.title", model: "Location"), new_location_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @locations.any? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 text-xs text-left uppercase"><%= sortable @locations, :name, "Name", class: "text-gray-700" %></th>
            <th class="p-3 text-xs text-left uppercase"><%= sortable @locations, :description, "Description", class: "text-gray-700" %></th>
            <th class="w-20 p-3 text-xs text-left text-gray-700 uppercase"><%= t("shared.scaffold.actions") %></th>
          </tr>
        </thead>

        <tbody>
        <% @locations.each do |location| %>
          <tr class="border-t border-gray-400 group hover:bg-gray-100">
            <td class="p-3"><%= location.name %></td>
            <td class="p-3"><%= location.description %></td>

            <td>
              <%= link_to t("shared.scaffold.view"), location, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="my-6 text-center">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="flex flex-col items-center justify-between p-8 bg-white rounded shadow lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="mb-4 h3">Create your first Location</p>
        <%= link_to t("shared.scaffold.new.title", model: "Location"), new_location_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
